[mysqld]
innodb_file_per_table = 1
innodb_buffer_pool_size = 2G

key_buffer_size = 20M
max_allowed_packet = 64M
max_connections = 100

read_buffer_size = 2M
sort_buffer_size = 2M
join_buffer_size = 2M
tmp_table_size = 512M
max_heap_table_size = 512M
